<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style2.css">
    <title>Document</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <style>
            h1{
                font-size: 16px;
            }
            th{
                font-weight: 500;
            }
        </style>
    </head>

<body>
    <div class="contain">
        <nav>
            <div class="logo"><img src="/bookPhong/img/logo-fpt.png" alt=""></div>
            <ul class="menu">
                <li><a href="#">QUẢN LÝ PHÒNG</a></li>
                <li><a href="#">QUẢN LÝ TÀI KHOẢN</a></li>
                <li><a href="#">QUẢN LÝ ĐẶT PHÒNG</a></li>
            </ul>
            <input class="button-dangnhap" type="submit" value="Đăng nhập">
        </nav>
        <br>
        <main>
            <div class="search"></div>



            <div class="timetable">
                <h1>THÔNG TIN TÀI KHOẢN</h1>
                <table>
                    <thead>
                        <tr>
                            <th class="">STT</th>
                            <th class="mau-da">HỌ VÀ TÊN</th>
                            <th class="mau-xanh">SDT</th>
                            <th class="mau-da">EMAIL</th>
                            <th class="mau-xanh">ACTION</th>
                        </tr>
                        <tr>
                            <th>1 </th>
                            <th>Đỗ Trọng Nhân </th>
                            <th>0339376176</th>
                            <th>nhandtps21774@fpt.edu.vn</th>
                            <th><a href=""><i class="bi bi-three-dots-vertical"></i></a></th>
                        </tr>
                        <tr>
                            <th>2</th>
                            <th>Hồ Quý Ly</th>
                            <th>0908459852</th>
                            <th>lyqh@fpt.edu.vn/th>
                            <th><a href=""><i class="bi bi-three-dots-vertical"></i></a></th>
                        </tr>
                        <tr>
                            <th>3 </th>
                            <th>Đỗ Trọng Nhân </th>
                            <th>0339376176</th>
                            <th>nhandtps21774@fpt.edu.</th>
                            <th><a href=""><i class="bi bi-three-dots-vertical"></i></a></th>
                        </tr>
                        <tr>
                            <th>4</th>
                            <th>Đỗ Trọng Nhân </th>
                            <th>0339376176</th>
                            <th>nhandtps21774@fpt.edu.</th>
                            <th><a href=""><i class="bi bi-three-dots-vertical"></i></a></th>
                        </tr>
                        <!-- Thêm các hàng dữ liệu khác -->
                    </tbody>
                </table>
            </div>


        </main>
        <br>
        <hr>
        <footer>
            <div class="items-left">
            <div class="logo-footer"><img src="img/logo-fpt.png" alt="logo-footer"></div>
            <p><i class="bi bi-geo-alt-fill"></i>778/B1 Nguyễn Kiệm, P4, Q. Phú Nhuận, TP Hồ Chí Minh</p>
            
            <div class="vertical-line"></div>
            
            </div>
            <div class="title-footer">
                <ul>
                    <li>Thông tin liên hệ</li>                    
                    <li>
                        <i class="bi bi-telephone-fill"></i>Số điện thoại liên hệ giải đáp ý kiến của sinh viên: 0287308800
                    </li>
                    <li>
                        <i class="bi bi-envelope-fill"></i>Địa chỉ email các phòng ban 
                    </li>
                    <li>
                        Phòng dịch vụ sinh viên: dvsvfpoly.hcm@poly.edu.vn
                    </li>
                    <li>
                        Phòng tổ chức và quản lý đào tạo.
                        <br>
                        <a href="">Đào tạo: daotaofpoly.hcm@fe.edu.vn</a>
                        <br>
                        <a href="">Khảo thi: khaothi.fplhcm@fe.edu.vn</a>
                    </li>
                    <li>
                        Phòng hành chính: taichinhfplhcm@fe.edu.vn
                    </li>
                    <li>
                        Phòng quan hệ doanh nghiệp:qhdn.fplhcm.@fe.edu.vn
                    </li>
                    <li>
                        ý kiến đóng góp chung gửi về ykienpoly@fpt.edu.vn bằng mail @fpt.edu.vn
                    </li>

                </ul>
            </div>
        </footer>
    </div>
</body>

</html>